<!DOCTYPE html>
<html>
<head>
    <title>Assignment</title>
</head>
<body>
    <h1><%= assignment.name %></h1>

    <form action="/student/classroom/<%= classroom.invite_code %>/assignment/<%= assignment.id %>" method="POST">
        <% questions.forEach((question, index) => { %>
            <div>
                <p>Question <%= index + 1 %>. <%= question.question_text %></p>
                <input type="text" id="question_<%= index %>" name="question_<%= question.id %>" required>
            </div>
        <% }); %>
        <button type="submit">Submit Assignment</button>
    </form>
</body>
</html>