<!DOCTYPE html>
<html>
<head>
    <title>Assignment</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <%- include('partials/teacher_navbar_in_classroom') %>
    <div id="loading" style="display: none;">Loading...</div>
    <h1><%= assignment.name %></h1>

    <form id="assignmentForm" action="/Teacher/classroom/<%= classroom.invite_code %>/assignment/<%= assignment.id %>/take_assignment" method="POST">
        <% questions.forEach((question, index) => { %>
            <div>
                <p>Question <%= index + 1 %>. <%= question.question_text %></p>
                <input type="text" id="question_<%= index %>" name="question_<%= question.id %>" required>
            </div>
        <% }); %>
        <button id="submitBtn" type="submit">Submit Assignment</button>
    </form>

    <script>
        document.getElementById('assignmentForm').addEventListener('submit', function() {
            // Disable the submit button
            document.getElementById('submitBtn').disabled = true;

            // Show the loading text
            document.getElementById('loading').style.display = 'block';
        });
    </script>
</body>
</html>