<!DOCTYPE html>
<html>
<head>
    <title><%= assignment.name %> - Student Results</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <%- include('partials/teacher_navbar_in_classroom') %>
    <h1><%= assignment.name %> - Student Results</h1>
    <button onclick="location.href='/Teacher/classroom/<%= classroom.invite_code %>'">Back to Classroom</button>
    <button onclick="location.href='/Teacher/classroom/<%= classroom.invite_code %>/assignment/<%= assignment.id %>/take_assignment'">Take Assignment</button>
    <div class="student-container">
        <% students.forEach(student => { %>
            <div class="student">
                <% let completedAssignment = completedAssignments.find(completedAssignment => completedAssignment.student_id === student.id); %>
                <% if (completedAssignment) { %>
                    <h2><a href="/Teacher/classroom/<%= classroom.invite_code %>/assignment/<%= assignment.id %>/student_results/<%= student.id %>"><%= student.name %></a>:</h2>
                    <p>Percentage Correct: <%= completedAssignment.correctness_percentage %> Date Completed: <%= completedAssignment.completion_date %></p>
                <% } else { %>
                    <h2><%= student.name %>:</h2>
                    <p>Not Taken Yet</p>
                <% } %>
            </div>
        <% }); %>
    </div>
</body>
</html>